@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap");

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  color: var(--font-color);
}

:root {
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 24px;

  --border-radius: 12px;

  --font-color: #323232;
}

.heart {
  color: red;
}

h2 {
  font-family: "Proza Libre", sans-serif;
  margin: 0;
  margin-bottom: var(--spacing-2);
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0 var(--spacing-3);
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  padding: var(--spacing-3) 0;
}

.navigation-items {
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
  margin: 0;
  margin-left: auto;
}

.navigation-item {
  margin: var(--spacing-1);
}

.portrait {
  width: 250px;
  border-radius: 50%;
  flex-shrink: 0;
  align-self: flex-end;
}

.about-me-container {
  display: flex;
}

.about-me-text-container {
  margin-right: var(--spacing-3);
}

.project-image {
  width: 50%;
}

.project-title h3 {
  display: inline;
}

details {
  cursor: pointer;
}

summary {
  list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
}

footer {
  margin-top: auto;
  padding: var(--spacing-2) 0;
  text-align: center;
}

section {
  padding: var(--spacing-3) 0;
}

.icon {
  font-size: 2em;
  color: var(--font-color);
  margin: 0 var(--spacing-1);
}

a {
  color: var(--font-color);
  text-decoration: none;
  font-weight: 600;
}

#logo {
  margin: 0;
}

#skills-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #000;
  background-color;
}

#skills-container > * {
  font-size: 2.5em;
  width: 2.5em;
  margin-top: var(--spacing-1);
}

#contact h2{
  align-items: center;
}

#contact p{
  align-items: center;
}

.contact-container{
  display: flex;
}

.contact-container a{
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFC200;
  border-radius: 50%;
  margin: 22px 10px;
  color: #000;
  text-decoration: none;
  font-size: 20px;
  align-content: center;
}

#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
}

form{
  max-width: 550px;
  width: 90%;
  background: #000;
  margin: 17vh auto 0 auto;
  padding: 40px;
  border-radius: 3px;
  box-sizing: border-box;
}
h1{
  margin: 0;
  text-align: center;
}

label{
  display: block;
  margin: 20px 0;
}

input, textarea{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 1x solid #d3d3d3;
}

input[type="text"]:focus, textarea:focus{
  border-bottom: 3px solid #FFC200;
}

textarea::-webkit-scrollbar{
  width: 4px;
}

textarea::-webkit-scrollbar-thumb{
  background-color: yellow;
}


@media only screen and (max-width: 600px) {
  .about-me-container {
    flex-direction: column;
  }
}



